{% extends 'core/base.html' %}
{% load static %}

<!-- This block name has been corrected from 'extra_css' to 'custom_css' -->
{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/page_animation.css' %}">

    <!-- Homepage section-specific styles -->
    <link rel="stylesheet" href="{% static 'css/home_components/hero_section.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_components/about_section.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_components/featured_courses.css' %}">

    <link rel="stylesheet" href="{% static 'css/home_components/status_section.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_components/testimonials_section.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_components/faq_section.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_components/social_follow_section.css' %}">
{% endblock %}

{% block content %}

    {% include 'core/components/home/_hero_section.html' %}
    {% include 'core/components/home/_status_section.html' %}
    {% include 'core/components/home/_about_section.html' %}
    {% include 'core/components/home/_featured_courses_section.html' %}
    {% include 'core/components/home/_testimonials_section.html' %}
    {% include 'core/components/home/_faq_section.html' %}
    {% include 'core/components/home/_social_follow_section.html' %}

{% endblock %}

<!-- This block name has been corrected from 'extra_js' to 'custom_js' -->
{% block extra_js %}
<script src="{% static 'js/home.js' %}" defer></script>
{% endblock %}