{% extends 'core/base.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/video_player.css' %}" />
  <link rel="stylesheet" href="{% static 'css/notes.css' %}" />
  <link rel="stylesheet" href="{% static 'css/video_playlist.css' %}" />
  <link rel="stylesheet" href="{% static 'css/assistant.css' %}" />
  <link rel="stylesheet" href="{% static 'css/transcript.css' %}" />
{% endblock %}

{% block content %}
  {% include 'core/components/video_player/_video_player_main.html' %}
  {% include 'core/components/video_player/_add_note_modal.html' %}
  {% include 'core/components/video_player/_edit_note_modal.html' %}
  {% include 'core/components/video_player/_notes_offcanvas.html' %}
  {% include 'core/components/video_player/_note_popup.html' %}
{% endblock %}

{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script type="module" src="{% static 'js/video_player.js' %}" defer></script>
  <script type="module" src="{% static 'js/notes.js' %}" defer></script>
  <script type="module" src="{% static 'js/assistant.js' %}" defer></script>
  <script src="{% static 'js/assistant_history.js' %}" defer></script>
{% endblock %}