<div class="container-fluid mt-4 pb-5" id="player-data-container"
     data-video-id="{% if video %}{{ video.id }}{% endif %}"
     data-csrf-token="{{ csrf_token }}">

    <div class="row">
        <div class="col-lg-3">
            {% include 'core/components/video_player/_video_playlist.html' %}
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-12">
                      <h2 class="mb-4">{{ course.title }}</h2>
                </div>
            </div>

            {% if video %}
            <div class="row">
                <div class="col-12">
                    <div class="video-section-wrapper shadow-sm rounded border p-3 mb-4">
                        <div class="plyr-container">
                            <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="{{ video.youtube_id }}"></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between mt-3">
                            <h4 class="mb-0" id="current-video-title">{{ video.title }}</h4>
                        </div>

                        <div class="video-actions-toolbar d-flex flex-wrap gap-2 mt-3">
                            <button type="button" class="btn btn-video-options" data-bs-toggle="modal" data-bs-target="#addNoteModal">
                                <i class="fas fa-plus"></i> Add Note
                            </button>
                            <button type="button" class="btn btn-video-options" data-bs-toggle="offcanvas" data-bs-target="#notesOffcanvas">
                                <i class="fas fa-list-ul"></i> View Notes
                            </button>
                            <button id="toggle-transcript-btn" class="btn btn-video-options" title="Show Transcript">
                                <i class="far fa-file-alt"></i> Transcript
                            </button>
                            <button class="btn btn-video-options" type="button" data-bs-toggle="offcanvas" data-bs-target="#assistantOffcanvas" aria-controls="assistantOffcanvas">
                                <i class="fas fa-robot me-1"></i> AI Assistant
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-2">
                <div class="col-12">
                  {% include 'core/components/video_player/_transcript_viewer.html' %}
                  {% include 'core/components/video_player/_assistant_chat.html' %}
                </div>
            </div>
            {% else %}
            <div class="alert alert-info">
                <p class="mb-0">Please select a video from the playlist to begin.</p>
            </div>
            {% endif %}
        </div>
    </div>
</div>